// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*
* TOP画面スタイル
*/
ons-list.homeworkList {
    margin: 0px;
    max-height: 100%;
    overflow: hidden;
}

.homeworkList .list-item--longdivider  {
    height: 60px;
    background-color: #FFFFFF;
    color: #EF6C71;
    font-size: 16px;
    border: 1px solid rgba(00, 00, 00,0.1);
}

.resetIcon {
    margin-left: 10px;
    color:#7D7D7D;
}

/*
* ログイン画面背景画像
*/
.login_bg {
    background-image: url("../assets/imgs/login_bg.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-attachment:fixed;
}

/*
* ログイン画面メッセージ
*/
.login_msg {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Meiryo", sans-serif;
}

/*
* ログインボタン
*/
ons-button.loginBtn {
    width: 80%;
    margin: 10px;
    color: #FFFFFF;
    font-size: 16px;
    border: solid 1px #FFFFFF;
}

ons-button.loginBtn:hover {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
}

/*
* header account icon
*/
.headerAccountIcon {
  width: 60px;
  height: auto;
  margin-top: 10px;
  border-radius: 30px;
}

/*
* header NON icon
*/
.headerNonIcon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: white;
}

#menuPage {
  text-align: center;
}

/*
* 共通クラス
*/
.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.width-50px {
    width: 50px;
}

.width-300px {
    width: 300px;
}

.mainFont {
    color: #EF6C71;
    font-size: 22px;
}

.subFont {
    color: #EF6C71;
    font-size: 22px;
}

.bigFont {
    color: #EF6C71;
    font-size: 32px;
}

.biggestFont {
    color: #EF6C71;
    font-size: 64px;
}

.miniFont {
    color: #EF6C71;
    font-size: 14px;
}

.menuFont {
    color: #EF6C71;
    font-size: 18px;
}

/*
ボタンデザイン
*/
ons-button.registerBtn {
    width: 110px;
    color: #F0E0E0;
    font-size: 16px;
    background-color: #EF6C71;
}

ons-button.cancelBtn {
    width: 110px;
    color: #EF6C71;
    font-size: 14px;
    background-color: #F0E0E0;
}

ons-button.deleteBtn {
    width: 110px;
    color: #F0E0E0;
    font-size: 14px;
    background-color: #EF6C71;
}

ons-button.minusBtn {
    width: 30px;
    color: #F0E0E0;
    background-color: #EF6C71;
    padding: 0px;
}

ons-button.plusBtn {
    width: 30px;
    color: #F0E0E0;
    background-color: #EF6C71;
    padding: 0px;
}

ons-button.editBtn {
    width: 70px;
    color: #F0E0E0;
    font-size: 16px;
    background-color: #EF6C71;
}

ons-button.addBtn {
    width: 110px;
    color: #F0E0E0;
    font-size: 14px;
    background-color: #EF6C71;
}

/*
テキストコントール
*/
ons-input.bigFont input{
    font-size: 22px;
}

/*
セレクトボックスコントロール
*/
ons-select.bigFont .select-input {
    font-size: 22px;
    height: 50px;
}

/*
メインカラー
*/
.mainBackColor {
    background-color: #F0E0E0;
}
.mainColor {
    color: #EF6C71;
}

/*
サブカラー
*/
.subBackColor {
    background-color: #F0E0E0;
}
.subColor {
    color: #EF6C71;
}

/*
ビビットカラー
*/
.vivitBackColor {
    background-color: #EF6C71;
}
.vivitColor {
    color: #FFFFFF;
}

/*
グラフ画面のタブスタイル
*/
.graphTab .tabbar__item button {
  background-color: #F0E0E0;
  color: #EF6C71;
}

.graphTab .active  button {
  background-color: #EF6C71;
  color: #FFFFFF;
}

ons-popover#term_list div.popover__content {
  width: 120px;
}

/*
家事編集画面スタイル
*/
ons-list.addHomework_homeworkList {
    margin: 0px;
    max-height: 100%;
    overflow: hidden;
}

.addHomework_homeworkList .list-item--longdivider  {
    height: 60px;
    background-color: #FFFFFF;
    color: #EF6C71;
    font-size: 16px;
    border: 1px solid rgba(00,00,00,0.1);
}

.addHomework_homeworkList .disabled {
  background-color: #d8d8d8;
}

.scroll_list_for_add_homework {
    max-height: 100%;
    overflow:hidden;
    padding: 0px;
}

/*
メンバ管理画面リストアイテムスタイル
*/
ons-list.memberList {
    margin: 0px;
    max-height: 100%;
    overflow: hidden;
}

.memberList .list-item--longdivider  {
    height: 60px;
    background-color: #FFFFFF;
    color: #EF6C71;
    font-size: 16px;
    border: 1px solid rgba(00,00,00,0.1);
}

.scroll_list_for_member_list {
    max-height: 100%;
    overflow:hidden;
    padding: 0px;
}

/*
家事履歴画面スタイル
*/
.scroll_list_for_homework_hist {
    max-height: 100%;
    overflow: hidden;
    padding: 0px;
}

.pinkFont input {
    color: #EF6C71;
}
