page-top {
 .large_list_item {
   min-height: 70px;
   font-size: 1.8rem;
 }

 .hourLabel-max-width {
   max-width: 30px;
 }

 .hour-max-width {
   max-width: 50px;
 }

 .add-circle {
   margin-right: 30px !important;
 }
}
